<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Song Book</title>
</head>

<body>
    {% for page in pages %}
    <div class="page">
        <h2>{{page}}</h2>
        <h1>{{ page.song_name }}</h1>
        <p>{{ page.message }}</p>
        <p>{{ page.background_image_link }}</p>
        <pre>{{ page.lyrics }}</pre>
    </div>
    {% endfor %}
</body>

</html>