body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    background: url("https://drive.google.com/file/d/1-6tuzLrW279OtLrm7YXtBvavwxiMhfTq/view?usp=share_link");
}

h1 {
    position: absolute;
    top: 20px;
    left: 20px;
}

p {
    position: absolute;
    top: 80px;
    left: 20px;
}

pre {
    position: absolute;
    top: 150px;
    left: 20px;
    white-space: pre-wrap;
}

img {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
}